#user-event, #wins {
    color: blue;
    font-weight:bold;
    width:100%;
    margin:auto;
    font-size: 24px;
    text-align:center;
}

#guess-word, #available-letters, #guessed-letters, #guesses-left {
    width:100%;
    margin:auto;
    text-align:center;
}

#guess-word {
    font-size: 24px;
    letter-spacing: .5rem;
}

#available-letters, #guessed-letters {
    letter-spacing: .15rem;
}
